{% extends "base.html"%} {% import 'bootstrap/wtf.html' as wtf%} {% block
title%} HOME {% endblock%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />

{% endblock %} {% block content %}
<div class="home1">
  <div class="row row1">
    <div class="col-md-2 colum1">
      <div class="card card1">
        <div class="card-body">Memes</div>
      </div>
      <div class="card card1">
        <div class="card-body">Food For Thought</div>
      </div>
      <div class="card card1">
        <div class="card-body">Religious</div>
      </div>

      <div class="card card1">
        <div class="card-body">Motivational</div>
      </div>
      <div class="noteform">
        {{wtf.quick_form(pitch_form)}}
      </div>
    </div>

    <div class="col-md-10">
      <h1 align="center">
        Are you up to the challenge?<br />
        share your pitches with us!
      </h1>
    </div>
  </div>
</div>

{% endblock%}
