{% extends "base.html"%} 

{% block title%}
 log in
{%endblock%}
{% block styles%}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

{% endblock %}

{%block content%}
<form method="POST" id="formy">
  <h3 align="center" >Log in</h3>
  <div class="form-group group">
    <label for="email" id="first"> email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="emai"
      placeholder="enter email"
    />
  
   <div class="form-group">
    <label for="password">Enter Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="enter password"
    />
  
  <br>
  <button type="submit" class="btn btn-primary" id="submit"> LOGIN</button>
</form>
{% endblock%}
